@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
 "danger-300": "#ff204e",
            "danger-500": "#ba1221",
            "danger-700": "#a0153e",
            "ungu-700": "#5d0e41",
            "biru-700": "#00224d",
            "hitam-500": "#343537",
 */

@layer components {
    @keyframes slideDown {
        0% {
            opacity: 0;
            transform: translateY(-10px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slideUp {
        0% {
            opacity: 1;
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateY(-10px);
        }
    }

    ::selection {
        background-color: #ff204e;
        color: #fff;
    }

    .content-article img {
        @apply rounded-lg;
    }

    .content-article h2 {
        @apply text-xl md:text-3xl font-bold font-jakartaEuy mt-10;
    }

    .content-article h3 {
        @apply text-lg md:text-2xl font-bold  font-jakartaEuy mt-8;
    }

    .content-article h4 {
        @apply text-base md:text-xl font-bold  font-jakartaEuy mt-8;
    }

    .content-article h5 {
        @apply text-sm md:text-lg font-bold  font-jakartaEuy mt-6;
    }

    .content-article p {
        @apply mt-2;
    }

    .content-article ul {
        @apply list-disc ml-5;
    }

    .content-article ol {
        @apply list-decimal ml-4;
    }

    .content-article blockquote {
        @apply p-4 md:py-2 lg:px-12 mt-4 mb-6 rounded-md border-s-8 border-danger-300 bg-red-100;
    }

    .content-article blockquote p {
        @apply mt-0;
    }

    .content-article a[data-as-button-theme="primary"] {
        @apply p-3 text-white bg-danger-300 hover:bg-danger-500 rounded-md mt-4 inline-block text-sm md:text-base transition;
    }

    .content-article summary {
        @apply flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3;
    }

    .content-article iframe {
        @apply rounded-lg mt-4;
    }

    .butto .danger-300 {
        color: #ff204e;
    }
    .danger-500 {
        color: #ba1221;
    }
    .danger-700 {
        color: #a0153e;
    }

    .bg-hero {
        background-image: url("../../public/assets/img/bg-header.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .bg-hero2 {
        background-image: url("../../public/assets/img/bg-header2.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .bg-hero3 {
        background-image: url("../../public/assets/img/bg-header3.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .overlay {
        background-color: rgba(197, 17, 53, 0.85);
    }

    .animate-slideDown {
        animation: slideDown 0.3s ease-out forwards;
    }

    .animate-slideUp {
        animation: slideUp 0.3s ease-out forwards;
    }

    #mega-menu-full-dropdown-button.active {
        color: #ff204e;
    }

    #icon-megamenu-dropdown {
        margin: 5px 0 0 3px;
    }

    .tab-content > .tab-pane {
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .tab-content > .tab-pane.active {
        display: block;
        opacity: 1;
    }

    #lg-download {
        display: none;
    }
}
